.card-container {
    flex: 1;
    margin: 10px;
    max-width: calc(20% - 20px);
    min-width: calc(20% - 20px);
    background-color: #95dada;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    display: block;
}

.card-container:hover {
    transform: scale(1.05);
}